<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="utf-8" />
	<title>
	{% block title -%}
	{% if title %}
		{{ title }}
	{% else %}
		Flask Brython titte not exist
	{% endif %}
	{% endblock %}
	</title>
	<script type="text/javascript" src="brython.js" ></script>
	<script type="text/javascript" src="brython_stdlib.js"></script>

	<script type="text/python" src='feathures.py'></script>

	<link rel="icon" type="image/png" href="favicon.png" />
	<link rel="stylesheet" href="/style.css" /> 
</head>
<body onload="brython();">
{% block content -%}
	{%- block mainmenu -%}
		<ul>
		{% for m in menu %}
			<li>{{m}}</li>
		{% endfor -%}
		</ul>
	{% endblock mainmenu -%}
	<hr>
{% endblock %}
</body>
</html>
